*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  font-family:'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626; 
  margin: 0; 
  
}

h1{
  font-family: 'neucha', sans-serif;
  font-size: 72px;
  line-height: 1.2em;
  color: #FE8A02;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}


h2{
  font-family: 'neucha', sans-serif;
  font-size: 60px;
  line-height: 110%;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

h3{
  font-family: 'neucha', sans-serif;
  font-size: 34px;
  line-height: 1.2em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

p{
  margin: 0; 
}



/* TEMPLATE */

.header { 
  position: relative;
  z-index: 1;
  width: 1440px;
  margin: 0 auto;
}

.header::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 0.06; 
  z-index: -1;
  background-image: url(img/background.png);
}


.conteiner {
  max-width: 1110px;
  margin: 0 auto 0;
  height: 914px;
  padding-bottom: 100px;
}


.header-intro {
  position: relative;
  box-sizing: border-box;
}

.title {
  padding: 100px 0 0 0;
  line-height: 86px;
  margin: 0;
}

.subtitle {
  color: #2A2626;
  position: relative;
  padding-top: 7.17px;
  line-height: 100%;
  z-index: 2;
}

.main_img {
  position: absolute;
  right: -270px;
  top: 55px;
  height: 525px;
  z-index: 1;
}

.header_text{
  margin-top: 209px;
  gap: 30px;
  column-count: 2;
  column-width: 540px;
  height: 189px;
}

.header_text p {
  margin-top: 0;
  margin-bottom: 16px;
}

.button {
  position: absolute;
  width: 148px;
  height: 49px;
  background-color: #FE8A02;
  border:#FE8A02 ;

  margin-left: 570px;
  bottom: 100px;

  padding: 13px 24px 14px;

  font-family:'Open Sans', sans-serif;
  font-weight: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: white;

}

.button:hover {
  background-color: #EA7600;
}

.navlink{
  text-decoration: none;
  color: #fff;
}


/* VIDEO SECTION */

.videosection {
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
  height: 814px;
  text-align: center;
 
}

.videoconteiner {
  max-width: 1110px;
  margin: 0 auto 0;
  height: 814px;
}

.videotitle {
  padding-top: 100px;
  line-height: 72px;
}

.videotitle2 {
  color: #FE8A02;
  line-height: 72px;
}

.videosubtitle {
  padding-top: 31px;
  padding-bottom: 26px;
  line-height: 160%;
}

.video {
  margin: 0 auto;
  width: 919px;
  height: 569px;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}


/* NAVIGATION SECTION */

.navigation {
  background-color: #42413C;
  height: 991px;
  width: 1440px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 100px;
}

.navconteiner {
  max-width: 1110px;
  margin: 0 auto 0;
}

.cards_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.nav_intro {
  position: relative;
  font-family: 'neucha', sans-serif;
  font-size: 52px;
  line-height: 62.4px;
  color: #F5F4F0;
  box-sizing: border-box;
  width: 350px;
  height: 323px;
  margin: 0;
}

.colortext{
  color: #FE8A02;
}

.card {
  background-color: #F5F4F0;;
  box-sizing: border-box;
  width: 350px; 
  height: 323px;
  padding: 24px; 
  margin: 0;
  text-decoration: none;
  color: #42413C;
}

.card:hover {
  background: #FE8A02;
  color: #fff;
}

.card_number {
  font-family: 'neucha', sans-serif;
  font-size: 64px;
  line-height: 70.5px;
  margin: 0;
  padding-bottom: 40px;
}

.card1 {
  height: 323px;
  margin: 0 30px 20px 30px;
}

.card2 {
  height: 323px;
  margin: 0 0 20px 0;
}

.card3 {
  height: 348px;
  margin: 0 30px 0 0;
}
.card4 {
  height: 348px;
  margin: 0 30px 0 0;
}

.card5 {
  height: 348px;
  margin: 0;
}

.card_title {
  color: #FE8A02;
  margin: 0;
  padding-bottom: 12px;
}

.card:hover .card_title {
  color: #fff;
}

.card_text {
  padding-top: 0;
  margin: 0;
  line-height: 160%;
}


/* ОБЩИЕ ЭЛЕМЕНТЫ */

.head_title {
  font-family: 'neucha', sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #908D8B;
}

.inform_title {
  color: #2A2626;
}

.head_title_white {
  font-family: 'neucha', sans-serif;
  font-size: 24px;
  line-height: 28.8px;
  color:  #D7CCC0;;
}

.inform_title_white {
  color: #fff;
}

.inform_subtitle {
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
}

.inform_subtitle_white {
  color: #fff;
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
}

.work_title {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #B09A81;
  color: #fff;
  min-width: 1110px;
  height: 26px;
  padding-left: 10px;
  margin: 0;
}

.work_title_white {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  color: #B09A81;
  min-width: 1110px;
  height: 26px;
  padding-left: 10px;
  margin: 0;
}

.work_text {
  width: 540px;
  margin: 0;
  padding-top: 20px;
}

.how_work {
  padding-top: 100px;
}

.text_how_work {
  display: flex;
  justify-content: space-between;
}

.white {
  color: #fff;
}

.img {
  flex-wrap: wrap;
  width: 578px;
  height: 434px;
  margin: 0;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}



/* IKEA EFFECT */ 

.ikea_effect {
  background-image: url(img/background2.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.ikea_section {
  display: flex;
  padding-top: 100px;
}


.ikea_intro {
  flex-wrap: wrap;
  padding-left: 30px;
}



/* PREMATURE OPTIMIZATION */

.brown {
 background-color: #B09A81;
 width: 1440px;
 margin: 0 auto;
}

.premature_optimization {
  background-image: url(img/background2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.premature_section {
  display: flex;
  padding-top: 100px;
}

.premature_intro {
  flex-wrap: wrap;
  padding-right: 30px;
}



/* DISTORTION OF NOVELTY */

.distortion_of_novelty{
  background-image: url(img/background2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.distortion_section {
  display: flex;
  padding-top: 100px;
}

.distortion_intro {
  flex-wrap: wrap;
  padding-left: 30px;
}


/* HYPERBOLIC DEPRECIATION */

.hyperbolic_depreciation {
  background-image: url(img/background2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.depreciation_section {
  display: flex;
  padding-top: 100px;
}

.depreciation_intro {
  flex-wrap: wrap;
  padding-right: 30px; 
}


/* ERRORIS IN PLANNING */

.errors_in_planning {
  background-image: url(img/background2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.planning_section {
  display: flex;
  padding-top: 100px;
}

.planning_intro {
  flex-wrap: wrap;
  padding-left: 30px;
}


/* FOOTER */

footer{
  background-color: #fff;
  width: 1440px;
  margin: 0 auto;
  height: 581px;
}

.footerconteiner{
  max-width: 1110px;
  height: 581px;
  margin: 0 auto 0;
  padding-top: 100px;
}


.group {
  width: 1110px;
  height: 190px;
  background-color: #42413C;
  display: flex; 
  justify-content: space-between;
}

.group_title {
  color: #fff;
  padding: 55px 122px 55px 55px;
}

.mail{
  padding: 38px 55px 40px 0;
}

legend{
  font-family:'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 160%;
  padding: 0;
}

input{
  width: 423px;
  height: 50px;
  padding: 15px;
  margin: 0;
  padding: 0;
}

input[type=text] {
  padding-left: 15px;
  font-size: 13.1px;
  line-height: 160%; 
}

.mail_button {
  position:relative;
  right: 7px;
  top: 6px;
  height: 50px;
  width: 70px;
  background-color: #FE8A02;
  border:#FE8A02 ;
  padding: 0;
}

.mail_button::before{
  position: relative;
  content:url(/css/img/send.svg);

  background-position:center;
  background-repeat:no-repeat;
}

.mail_button:hover {
  background: #EA7600;
}

.rules {
  color: #fff;
  padding-top: 0;
  margin: 0;
}

.link {
  color: #fff;
  text-decoration: underline;
}


.link:hover {
  color: #FE8A02;
}

.frame {
  padding-top: 76px;
  font-size: 14px;
  text-align: center;
  line-height: 160%;
}

.footer_link{
  color: #1085C5;
  text-decoration-line: underline;
}

.state_outro{
  padding-top: 16px;
}

.outro {
padding-top: 16px;
}

